* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

/* SPLIT SCREEN */
.container {
  display: flex;
  min-height: 100vh;
}

/* LEFT SIDE */
.left {
  flex: 1;
  position: relative;
  background: url('../image/signin.png') center/cover no-repeat;
  text-align: center;
}

.left::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 123, 0, 0.85);
}

.left-content {
  position: relative;
  color: white;
  padding: 80px;
  max-width: 500px;
  align-self: center;
  margin-left: 120px;
  margin-top: 230px;
}

.left h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.left p {
  font-size: 18px;
  line-height: 1.6;
}

/* RIGHT SIDE */
.right {
  flex: 1;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 380px;
}

.logo {
  color: #ff7b00;
  font-style: italic;
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
}

.form-box h2 {
  margin-bottom: 25px;
  text-align: center;
}

.input-group {
  margin-bottom: 18px;
}

.input-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.input-group input:focus {
  border: 1px solid #ff7b00;
}

.checkbox-group {
  font-size: 13px;
  margin-bottom: 15px;
}

.checkbox-group input {
  margin-right: 5px;
}

.checkbox-group a {
  color: #ff7b00;
  text-decoration: none;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #ff7b00;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  opacity: 0.9;
}

.divider {
  text-align: center;
  margin: 20px 0;
  font-size: 13px;
  color: #777;
}

.social-btn {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;
}

.signin {
  text-align: center;
  font-size: 13px;
  margin-top: 15px;
}

.signin a {
  color: #ff7b00;
  text-decoration: none;
}

/* FOOTER */
footer {
  background: #6b4226;
  color: white;
  padding: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  max-width: 250px;
}

.footer-section h3 {
  margin-bottom: 15px;
}

.footer-section p,
.footer-section li {
  font-size: 14px;
  margin-bottom: 8px;
}

.footer-section ul {
  list-style: none;
}

.copyright {
  margin-top: 40px;
  font-size: 12px;
}
.island-moments-regular {
  font-family: "Island Moments", cursive;
  font-weight: 600;
  font-style: normal;
  color: orange;
}